<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>All Games For Sale</h1>
    <ul>
        <% users.forEach((user) => { %>
            <% const games = user.games %>
            <% games.forEach((game) => { %>
                <% if (game.forSale) { %>
                    <li>
                        <%= game.name %> for the <%= game.console %>
                    </li>
                <% } %>
            <% }) %>
        <% }) %>
    </ul>
</body>
</html>